@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* Reset */
body, h1, h2, h3, h4, h5, h6, div, p, span, strong, em, blockquote, pre, address,
ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, input, select, label, textarea, img, a {margin:0; padding:0; border:0px;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}

body {color:#424242;font-size:14px;font-family: 'Nanum Gothic', '돋움', Dotum, tahoma, sans-serif;font-weight:400;}
ul, ol {list-style:none;}
table {table-layout:fixed;width:100%;border-spacing:0; border:0; border-collapse:collapse;}
img, input, select, textarea, button {border:0; vertical-align:top; color:#666;}
legend, caption, #skip_navi {overflow:hidden; visibility:hidden; height:0; z-index:-1;text-indent:-9999em; font-size:0; line-height:0;}
hr {display:none;}
 
a {color:#666; text-decoration:none;}
a:focus, a:hover, a:active {text-decoration:none;}
textarea {resize:none; border:1px solid #ccc; padding:5px 10px;color:#424242;font-size:14px;font-family: 'Nanum Gothic', '돋움', Dotum, tahoma, sans-serif;}

input[type="text"],
input[type="password"] {
	height:19px;
	line-height:19px;
	padding:0 10px;
	border:1px solid #ccc;
	color:#666;
	font-size:11px;
	/* line-height:14px; */
	font-family:'Nanum Gothic', '돋움', Dotum, tahoma, sans-serif;
	
}
select {
	height:35px;
	padding:0 2px 0 5px;
	border:1px solid #e1e1e1;
	line-height:30px;
	*line-height:35px;
	font-size:12px;
	font-family:'Nanum Gothic', '돋움', Dotum, tahoma, sans-serif
}
/* Base */
input.button, input.submit , input.image, button {cursor:pointer;}
